rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /companies/{companyId} {
      allow read, write: if true;
    }
    match /contracts/{contractId} {
      allow read, write: if true;
    }
    match /users/{userId} {
      allow read, write: if true;
    }
    match /rdos/{rdoId} {
      allow read, write: if true;
    }
    match /audits/{auditId} {
      allow read, write: if true;
    }
  }
}
